#alert {
  margin: 3rem auto;
  padding: 1rem;
  width: 15rem;
  border: 2px solid #dd3562;
  border-radius: 15px;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}

#alert h2,
h4 {
  text-align: center;
}
/* #alert button {
  font: inherit;
  border: none;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  color: #540218;
} */
